body {
    margin-bottom: 60px;
}

pre {
    word-wrap: normal;
}

.jumbotron {
    background-color: white;
    text-align: center;
}

.tt-dropdown-menu {
    width: 100%;
}

#browse-container {
    margin-top: 15px;
}

#compatibility-pkgselector {
    padding-top: 20px;
}

.file-icon {
    width: 20px;
}

.file-size {
    width: 7em;
}

#type-list {
    overflow: auto;
    white-space: nowrap;
}

.typedesc {
    display: none;
}

.typedesc.active {
    display: block;
}

.link-namespace:before {
    content: '{ } ';
    color: black;
}

.link-type:before {    
    color: gray;
    font-size: 80%;
}

.enum:before {
    content: "enum ";
}

.struct:before {
    content: "struct ";
}

.interface:before {
    content: "interface ";
}

.delegate:before {
    content: "delegate ";
}

.class:before {
    content: "class ";
}

#type-list ul {
    list-style-type: none;
}
