body {
    margin-bottom: 60px;
}

.display-none {
    display: none;
}

.tt-dropdown-menu {
    width: 100%;
}

#browse-container {
    margin-top: 15px;
}

#compatibility-pkgselector {
    padding-top: 20px;
}
