@using NuGetCalcWeb.ViewModels
@using NuGetCalcWeb.ViewModels.FilePreview
@using NuGetCalcWeb.Views.FilePreview
@inherits Azyobuzi.OwinRazor.TemplateBase<TypeModel>

<li class="type">
    <a class="link-type @Model.HtmlClass" href="#@Model.FullName">@Model.Name</a>
    @if (Model.NestedTypes.Length > 0)
    {
        <ul>
            @foreach (var t in Model.NestedTypes)
            {
                @await PartialAsync(new _Type(), t)
            }
        </ul>
    }
</li>
