@using NuGetCalcWeb.ViewModels
@using NuGetCalcWeb.ViewModels.FilePreview
@inherits Azyobuzi.OwinRazor.AppTemplateBase<ContentModel>
@{
    Layout = "_Layout";
}

@Include("FilePreview/_Header", Model.Header)

<div class="container">
    <p class="alert alert-warning">@Model.Content</p>
</div>
