@using NuGetCalcWeb.ViewModels.FilePreview
@using NuGetCalcWeb.Views
@using NuGetCalcWeb.Views.FilePreview
@inherits Azyobuzi.OwinRazor.TemplateBase<ContentModel>
@{
    Layout = new _Layout();
}

@await PartialAsync(new _Header(), Model.Header)

<div class="container-fluid" style="text-align: center">
    <img style="max-width: 100%" src="@Model.Content" />
</div>
