@using NuGetCalcWeb.ViewModels.FilePreview
@using NuGetCalcWeb.Views
@using NuGetCalcWeb.Views.FilePreview
@inherits Azyobuzi.OwinRazor.TemplateBase<ContentModel>
@{
    Layout = new _Layout();
}

@await PartialAsync(new _Header(), Model.Header)

<div class="container">
    <pre>@Raw(Model.Content)</pre>
</div>

@section Header
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/vs.min.css" />
}
