@using NuGetCalcWeb.ViewModels
@inherits AppTemplateBase<dynamic>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @if (ViewBag.NoIndex != null && (bool)ViewBag.NoIndex)
    {
        <meta name="robots" content="noindex" />
    }
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/content/style.css" />
    @if (!(ViewBag.NoAnalytics != null && (bool)ViewBag.NoAnalytics))
    {
        @ExternalSnippets.Default.Analytics
    }
    @RenderSection("Header", false)
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>
    <header class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">NuGetCalc</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/compatibility">Web Version</a></li>
                    <li><a href="https://github.com/azyobuzin/NuGetCalc">PowerShell Version</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/azyobuzin/NuGetCalcWeb">Fork me on GitHub</a></li>
                </ul>
            </div>
        </div>
    </header>


    @RenderBody()

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
