@using NuGetCalcWeb.ViewModels
@using NuGetCalcWeb.Views
@inherits Azyobuzi.OwinRazor.TemplateBase<PackageSelectorModel>
@{
    Layout = new _Layout();
    ViewBag.Title = "NuGetCalc Web Version";
}

<div class="container">
    <section>
        <h1>Find The Most Compatible Reference Assemblies</h1>
        @ExternalSnippets.Default.AdTop
        @await PartialAsync(new _PackageSelector(), Model)
    </section>
</div>

@section Header
{
    <meta name="description" content="Browse and analyze NuGet packages everywhere." />
}
