@using NuGetCalcWeb.ViewModels
@inherits AppTemplateBase<ErrorModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>An error caused - NuGetCalc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/content/style.css" />
</head>
<body>
    <header class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">NuGetCalc</span>
            </div>
        </div>
    </header>

    <div class="container">
        <h1>@Model.Header</h1>
        @if (!string.IsNullOrEmpty(Model.Detail))
        {
            <pre>@Model.Detail</pre>
        }
    </div>
</body>
</html>
